[submodule "code/package/transformers"]
	path = code/package/transformers
	url = https://github.com/huggingface/transformers.git
[submodule "code/package/peft"]
	path = code/package/peft
	url = git@github.com:huggingface/peft.git
[submodule "code/package/trl"]
	path = code/package/trl
	url = git@github.com:huggingface/trl.git
[submodule "code/package/openrlhf"]
	path = code/package/openrlhf
	url = git@github.com:OpenRLHF/OpenRLHF.git
